@import url("https://fonts.googleapis.com/css?family=Lato"); /* &display=swap */
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Mulish");


/* Text style class selectors */

.blue-text {
    color: #3c64b1;
}

.light-gray-text {
	color: #cccccc;
}

.white-text {
	color: #ffffff;
}

.lato {
	font-family: "Lato";
}

.montserrat {
	font-family: "Montserrat";
}

.mulish {
	font-family: "Mulish";
}

.fw-light { /* font-weight light */
	font-weight: 300;
}

.fw-bold {
	font-weight: 700;
}

.fw-black {
	font-weight: 900;
}
