/* Lato */

@font-face {
	font-family: "Lato";
	font-weight: 100 400;
	src: url("font/Lato/Lato-Regular.ttf");
}

@font-face {
	font-family: "Lato";
	font-weight: 500 900;
	src: url("font/Lato/Lato-Bold.ttf");
}


/* Montserrat */

@font-face {
	font-family: "Montserrat";
	font-weight: 100 900;
	src: url("font/Montserrat/Montserrat-Regular.ttf");
}


/* Mulish */

@font-face {
	font-family: "Mulish";
	font-weight: 100 300;
	src: url("font/Mulish/Mulish-Light.ttf");
}

@font-face {
	font-family: "Mulish";
	font-weight: 400;
	src: url("font/Mulish/Mulish-Regular.ttf");
}

@font-face {
	font-family: "Mulish";
	font-weight: 500 700;
	src: url("font/Mulish/Mulish-Bold.ttf");
}

@font-face {
	font-family: "Mulish";
	font-weight: 800 900;
    src: url("font/Mulish/Mulish-ExtraBold.ttf");
}


/* Text style class selectors */

.blue-text {
    color: #3c64b1;
}

.white-text {
	color: #ffffff;
}

.lato {
	font-family: "Lato";
}

.montserrat {
	font-family: "Montserrat";
}

.mulish {
	font-family: "Mulish";
}

.mulish-extrabold {
	font-family: "Mulish ExtraBold";
}

.light {
	font-weight: 300;
}

.bold {
	font-weight: 700;
}

.extrabold {
	font-weight: 900;
}
